Name = Prashanth CN
,Assignment = 02

## Part 1: Lists

## 1)Creating and accessing of elements from a list

In [ ]:
fruits = ["apple","banana","orange","mango","watermilon"]
print(fruits[1],fruits[3])

banana mango

## 2).Modifying a list

In [ ]:
fruits = ["apple","banana","orange","mango","watermilon"]
fruits.append("grapes")
print(fruits)
fruits.remove("orange")
print(fruits)
fruits.insert(2,"strawberry")
print(fruits)
fruits.remove("grapes")
print(fruits)

['apple', 'banana', 'orange', 'mango', 'watermilon', 'grapes']
['apple', 'banana', 'mango', 'watermilon', 'grapes']
['apple', 'banana', 'strawberry', 'mango', 'watermilon', 'grapes']
['apple', 'banana', 'strawberry', 'mango', 'watermilon']

## 3).List Methods

In [ ]:
l= ["apple","banana","orange","mango","apple","watermilon","apple"]
print(l)
l.reverse()
print(l)
count_of_apple = l.count("apple")
print(count_of_apple)

['apple', 'banana', 'orange', 'mango', 'apple', 'watermilon', 'apple']
['apple', 'watermilon', 'apple', 'mango', 'orange', 'banana', 'apple']
3

## Part 2 : Tuples

## 1).Create and access elements

In [ ]:
Tuple = (10,20,30,40,50)
print(Tuple[0])
print(Tuple[4])

10
50

## 2).Immutable nature of tuples

In [ ]:
Tuple = (10,20,30,40,50)
Tuple[1] = 25
print(Tuple)

TypeError: 'tuple' object does not support item assignment

## 3).Tuple Operation

In [1]:
num=(10,20,30,40,50)
a,b,c,d,e=num #assigning the values of the tuples to 5 different variables
print("a=",a)
print("b=",b)
print("c=",c)
print("d=",d)
print("e=",e)

a= 10
b= 20
c= 30
d= 40
e= 50

## Part 3: Dictionaries

## 1).Create and access elements

In [5]:
dict = {"name" :"john","age" :"20","subjects": ["math","physics","chemistry"]}
print(dict["age"])

20

## 2).Modify the dictionary

In [8]:
dict={"name":"john","age":"20","subject":["math","physics","chemistry"]}
dict["grade"]="A"
dict["age"]=21
dict.pop("subject")
print(dict)

{'name': 'john', 'age': 21, 'grade': 'A'}

## 3).Dictionary Methods

In [9]:
dict_2={'name': 'john', 'age': 21, 'grade': 'A'}
print(dict_2.keys())
print(dict_2.values())

dict_keys(['name', 'age', 'grade'])
dict_values(['john', 21, 'A'])